body {
    background: url("Fon.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #067d7d;
}
h1 {
  margin-bottom: 90%;
  font-size: 80px;
  color: #fffcfc;
  position: relative;
  left: 0;
  text-shadow: 1px 1px 0px #c8e2ea, 2px 2px 0px #b6d9e2, 3px 3px 0px #aaced8, 3px 3px 0px #92b2bb, 4px 4px 0px #789ca7, 5px 5px 0px #769fab, 5px 5px 0px #608590, 7px 7px 0px #5b828e, 7px 7px 0px #4e737d, 8px 8px 0px #4c7683, 10px 10px 18px rgba(12, 12, 12, 0.9);
  transition: .3s ease-in-out;
}

h1:hover {
  left:18px;
  text-shadow:
  -2px 2px 0px #c4dbe2,
  -3px 3px 0px #b4d1d9,
  -4px 4px 0px #a6c6cf,
  -5px 5px 0px #94b8c3,
  -6px 6px 0px #87aeb9,
  -7px 7px 0px #7aa3af,
  -8px 8px 0px #6d97a3,
  -8px 9px 0px #618b98,
  -9px 10px 0px #56818e,
  -10px 11px 0px #4c7683,
  -14px 14px 21px rgba(21, 20, 20, 0.94);
}
body {margin: 0;padding: 0;font-family: sans-serif;}

ul {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}
ul li {
  list-style: none;
}
ul li a {
  position: relative;
  display: block;
  margin: 0 10px;
  padding: 5px 10px;
  color: #green;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
}
ul li a::before {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: -100%;
  width: 100%;
  height: 4px;
  background: #2196f3;
  transition: 0.5s;
}
ul li a:hover {
  color: #fff;
}
ul li a:hover::before {
  animation: animate .5s linear forwards; 
}

@keyframes animate {
  0% {
    top: calc(50% - 2px);
    left: -100%;
    height: 4px;
    z-index: 1;
  }
  50% {
    top: calc(50% - 2px);
    left: 0;
    height: 4px;
    z-index: 1;
  }
  100% {
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
}